
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

:root {
    --bg-color: rgba(31, 36, 45);
    --second-bg-color: rgba(50, 57, 70);
    --text-color: #fff;
    --main-color: rgba(255, 128, 0);
    --main-color-darken: rgba(255, 128, 0, 0.5);
    --btn-txt: rgba(50, 57, 70);
    --header-bg: rgba(0, 0, 0, 0.4);
    --header-tx: #fff;
}

.light-theme {
    --bg-color: rgba(96, 129, 200, 0.83);  
    --second-bg-color: rgba(208, 230, 255);     
    --text-color: rgba(30, 41, 59); 
    --main-color: rgba(218, 119, 53);
    --main-color-darken: rgba(218, 119, 53, 0.5);
    --btn-txt: rgba(255, 255, 255);
    --header-bg: rgba(0, 0, 0, 0.7);
    --header-tx: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

body.lock-scroll {
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
}

.scroll-wrapper {
  max-height: 100vh;
  overflow-y: auto;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1; /* Send it behind all other elements */
  opacity: 0.35; /* Optional: for a subtle background look */
}


section {
    min-height: 90vh;
    padding: 10rem 4% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1.5rem 4%;
    background: var(--header-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header img {
    height: 3.5rem;
    width: auto;
    transition: .5s ease;
    margin-left: 3rem;
}

.header img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem var(--main-color);
    border-radius: 16px;
}

.header.sticky {
    border-bottom: .1rem solid var(--header-bg);
}

.logo {
    font-size: 2.5rem;
    color: var(--header-tx);
    font-weight: 600;
    cursor: default;
}

.navhead {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--header-tx);
    margin-left: 3rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

.navhead .btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-left: 2.5rem;
    color: var(--header-tx);
    box-shadow: none;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.navhead .btn:hover {
    box-shadow: none;
    transform: scale(1.05);
    color: var(--header-tx);
}
    

#theme-toggle {
    font-size: 2.5rem;
    color: var(--header-tx);
    margin-left: 2.5rem;
    background: transparent;
    margin-left: 4rem;
    transition: .3s;
}

#theme-toggle:hover {
    color: yellow;
}

#menu-icon {
    font-size: 3.6 rem;
    margin-left: 2.5rem;
    color: var(--header-tx);
    display: none;
}

.heading {
    text-align: center;

    font-size: 4.5rem;
}

span {
    color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--btn-txt);
    letter-spacing: .1rem;
    font-weight: 900;
    font-style: bold;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
    transform: scale(1.05);
}


.projects h2, .heading span {
    margin-bottom: 4rem;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-box {
    position: relative;
    height: 24vw;
    width: 40vw;
    border-radius: 2rem;
    background-color: #1f242d;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.projects-box img {
    height: 100%;
    width: 100%;
    opacity: 45%;
    transition: .5s ease;  
}

.projects-box .slideshow-container img {
    width: 100%;
    height: 100%;
    opacity: 45%;
    transition: .5s ease;  
}

.slideimg {
    display: none; 
}

.slideimg.active {
    display: block; 
}

.projects-box:hover img {
    transform: scale(1.1);
}

.projects-box .projects-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: (rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transition: .5s ease;
}

.projects-box .projects-layer .btn-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, .01), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.projects-box:hover .projects-layer .btn-layer {
    transform: translateY(20%);
    font-weight: 900;
}


.projects-layer h3 {
    font-size: 3.5rem;
    color: #fff;
}

.projects-layer p {
    font-size: 2rem;
    margin: .3rem 0 1rem;
    color: #fff;
}

.projects-box .projects-layer i {
    font-size: 4rem;
    color: var(--main-color);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


/*------- custom CSS animation ------------------ */
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}




/* BREAKPOINTS */   
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .projects {
        padding-bottom: 7rem;
    }
    
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 860px) {
    #menu-icon {
        display: block;
        font-size: 2rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;

    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navhead {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
    }

    .projects h2 {
        margin-bottom: 2rem;
    }

}

@media (max-width: 617px) {
    .projects-container {
        grid-template-columns: 1fr;
    }

    .projects-box {
        width: 100%;
        height: auto;
        align-items: center;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 365px) {
    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}